header {
  position: relative;
  text-align: center;
}
img {
  width: 100%;
}
h1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}

@media (max-width:600px) {
  img {
    max-width: 100%;
  }
}
