@font-face {
  font-family: 'Shadows Into Light';
  src: url('https://fonts.google.com/specimen/Shadows+Into+Light');
}
@font-face {
  font-family: 'Inconsolata';
  src:url('https://fonts.google.com/specimen/Inconsolata');
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 100%;
  border-radius: 5px;
  background-color: #3DBFB9;
  float: right;
  margin-right: 5%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
  justify-content: flex-start;
  color: #ffffff;
}
.section {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: 'Shadows Into Light';
}
.title {
  font-family: 'Inconsolata';
  font-size: 20px;
}
.genre {
  font-family: 'Inconsolata';
  font-size: 16px;
}
