header {
  position: relative;
  text-align: center;
}
img {
  width: 100%;
  object-fit: cover;
}
h1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}
.up {
  position: absolute;
  left: 72%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}

.in {
  position: absolute;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}

@media (max-width:1200px) {
  img {
    max-width: 100%;
  }
}

@media (max-width:600px) {
  img {
    max-width: 100%;
  }
  .up {
    left: 72%;
  }
  .in {
    left: 92%;
  }
}
