header {
  position: relative;
  text-align: center;
}
img {
  width: 100%;
  object-fit: cover;
}
h1 {
  position: absolute;
  top: 60%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 22px;
}
.up {
  position: absolute;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}

.in {
  position: absolute;
  left: 85%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Inconsolata';
  font-weight: bold;
}

@media (min-width:1200px) {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 60px;
    top: 70%;
  }
}

@media (min-width:760px) {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 48px;
    top: 75%;
  }
  .up {
    font-size: 20px;
    left: 75%;
  }
  .in {
    font-size: 20px;
    left: 90%
  }
}
