article {
  float: left;
  width: 75%;
  padding-bottom: 5%;
}
aside {
  float: right;
  width: 25%;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.signedout {
  margin-left: 45%;
  font-size: 32px;
  font-family: 'Inconsolata';
  color: red;
}
@media (max-width: 1200px) {
  .signedout {
    margin-left: 35%;
  }
}
@media (max-width: 600px) {
  article, aside {
    width: 100%;
    height: auto;
  }
  .signedout {
    margin-left: 20%;
  }
}
