/*** Base Styles ***/
@font-face {
  font-family: 'Inconsolata';
  src:url('https://fonts.google.com/specimen/Inconsolata');
}
@font-face {
  font-family: 'Shadows Into Light';
  src: url('https://fonts.google.com/specimen/Shadows+Into+Light');
}

/*** SignedIn Home Page ***/
main {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}
.half-width {
  float: left;
  width: 50%;
}
article {
  padding-bottom: 5%;
}
.welcome {
  margin-left: 50%;
  font-family: 'Inconsolata';
  color: #B34B15;
}
@media (max-width: 600px) {
  article {
    width: 100%;
    height: auto;
  }
}

/*** Entry Card ***/
#entry .card {
  background-color: yellow;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 15%;
  max-width: 100%;
  position: relative;
}
#entry .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
  max-width: 100%;
  height: auto;
}
#entry .container {
  padding: 2px 16px;
  font-family: 'Inconsolata';
}
#entry .heading {
  font-family: 'Shadows Into Light';
  font-size: 32px;
}
#entry .article {
  padding-bottom: 5%;
}
button {
  background-color: #B34B15;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 24px;
}


@media (max-width:1200px) {
  .change {
    left: 62%;
  }
  .delete {
    left: 78%;
  }
}

@media (max-width:600px) {
  .article {
    width: 100%;
    height:auto;
  }
  img {
    height:auto;
  }
  .change {
    left: 52%;
  }
  .delete {
    left: 72%;
  }
}


/*** Stories ***/
.storytitle {
  font-family: 'Shadows Into Light';
  font-size: 48px;
  text-align: center;
  padding-bottom: 5%;
}
.body {
  font-family: 'Inconsolata';
  font-size: 20px;
  text-align: center;
  display: block;
}
