article {
  float: left;
  width: 75%;
  padding-bottom: 5%;
}
aside {
  float: right;
  width: 25%;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.welcome {
  margin-left: 50%;
  font-family: 'Inconsolata';
  color: #B34B15;
}
@media (max-width: 600px) {
  article, aside {
    width: 100%;
    height: auto;
  }
}
